{{ attach_library('ar/ar_block') }}
{% if forms %}
  <div class="form_wrapper">
    {{ forms }}
  </div>
{% endif %}
<div class="outputs_wrapper">
  {% for card in tables %}
  <div class="outputs_item">
    <div class="top">
      <div class="top-left">
        <h3 class="names">
          {{ card['name'] }}
        </h3>
        <p class="emails">
          {{ card['email_user'] }}
        </p>
        <p class="times">
          {{ card['time'] }}
        </p>
      </div>
      <div class="top-right">
        {{ card['fid'] }}
      </div>
    </div>
    {% if user.hasPermission('ROLE_ADMIN') %}
    <div class="bottom">
      {{ card['delete'] }}
      {{ card['edit'] }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <div class="bottom-delete-all">
    {{ tables['0']['delete'] }}
  </div>
</div>
